################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CommonMethod/Test/obj/Debug
/CommonMethod/.vs/CommonMethod/v15
/.vs
/CommonMethod/Test/bin/Debug
/CommonMethod/LogHelper/bin/Debug
/CommonMethod/LogHelper/obj/Debug
/CommonMethod/KafkaHelper/bin/Debug
/CommonMethod/KafkaHelper/obj/Debug
/CommonMethod/Common/bin/Debug
/CommonMethod/Common/obj/Debug
